@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
}

.movie-item {
  min-height: 500px;
}

.movie-list {
  align-items: stretch;
}

.preloader {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid red;
  border-radius: 50%;
  animation: slow-spin 1s linear infinite;
}

@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.movie-item__content {
  height: 100%;
}
.movie-item__buttons {
  flex-grow: 1;
  align-items: flex-end;
}

.search-item {
  background-color: white;
  border-bottom: 1px solid grey;
  padding: 5px;
}

.movies-in-search {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: white;

  max-height: 200px;
  overflow-y: scroll;
}

.history-comp {
  width: 200px;
}
